body {
  background-color: #051622;
  font-family: "Josefin Slab", serif;
  color: #deb992;
}
nav {
  display: flex;
  border-bottom: 1px solid #deb992;
  background: #051622;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
nav ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-right: 5%;
  padding: 0;
}
a {
  color: #deb992;
  text-decoration: none;
  font-size: 2rem;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-field,
.search-button,
a {
  cursor: pointer;
}

h1 {
  line-height: 1.5;
  font-size: 4rem;
  text-align: center;
  margin-top: 10%;
}
.container {
  width: 100%;
}

#recipe-container {
  display: flex;
  justify-content: center;
  border-style: solid;
  border-width: 0.5px;
  border-color: #deb992;
  min-height: 600px;
  min-width: 900px;
  font-size: 1.5rem;
  padding: 20px;
  max-width: 80%;
  margin-top: 3%;
}
.underline {
  display: inline;
  position: relative;
  overflow: hidden;
}
.underline:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: -5px;
  background: #deb992;
  height: 2px;
  transition-property: left right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  right: 0;
}
footer {
  margin: 3%;
  font-size: 1.5rem;
  text-align: center;
}
.search-field,
.search-button,
.button-border {
  border-radius: 10px;
  border-color: #1ba098;
  border-style: solid;
  color: #1ba098;
}

.search-field,
.search-button {
  border-width: 0.4px;
  font-size: 1.5rem;
  font-weight: bold;
  background: transparent;
  font-family: "Josefin Slab", serif;
}
.button-border {
  padding: 4px 5px;
}
.button-border:hover {
  background: rgb(5, 22, 34);
  background: linear-gradient(
    356deg,
    rgba(5, 22, 34, 1) 48%,
    rgba(27, 160, 152, 1) 72%
  );
}
.search-button:hover {
  background: #051622;
}
.search-field {
  width: 300px;
  line-height: 2;
  margin-right: 2%;
  padding-left: 2%;
}
.search-button {
  padding: 10px 12px;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  padding: 10px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 2%;
}

.image-container {
  position: relative;
  width: 150px;
}

img {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border-style: solid;
  border-color: #deb992;
  border-width: 0.4px;
  margin-bottom: 5%;
}

.image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(5, 22, 34, 0.3);
  overflow: hidden;
  width: 150px;
  height: 0;
  transition: 0.5s ease;
  border-radius: 10px;
}

.image-container:hover .image-overlay {
  height: 50px;
}

.image-text {
  color: #1ba098;
  font-size: 1.5rem;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 1px 1px 2px #051622;
}
@media (max-width: 430px) {
  nav ul {
    margin: 0;
  }
  a {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 1.75rem;
    margin-top: 18%;
  }
  img,
  .image-container {
    width: 70px;
    height: 70px;
  }
  .image-text,
  .image-overlay {
    display: none;
  }

  .search-field {
    width: 100%;
  }

  #recipe-container {
    min-width: 350px;
  }
  #image-6,
  #image-5 {
    display: none;
  }
  form {
    flex-direction: column;
  }
  .search-field {
    width: 100%;
    margin-bottom: 5%;
  }
  .form-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
@media (max-width: 280px) {
  .gallery {
    display: none;
  }
  form {
    flex-direction: column;
    margin-top: 0;
  }
  .search-field {
    width: 100%;
    margin-bottom: 5%;
  }
  h1 {
    margin-top: 25%;
  }
  a {
    font-size: 1rem;
    padding-right: 10px;
  }
  nav ul {
    justify-content: center;
    padding-right: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1000px) {
  #image-5,
  #image-6 {
    display: none;
  }
  h1 {
    margin-top: 15%;
  }
}
@media (min-width: 430px) and (max-width: 540px) {
  h1 {
    margin-top: 20%;
    font-size: 2.5rem;
  }
}
