body {
  background-color: #051622;
  font-family: "Josefin Slab", serif;
  color: #deb992;
}
nav {
  border-bottom: 1px solid #deb992;
  background: #051622;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}
a {
  color: #deb992;
  text-decoration: none;
  font-size: 2rem;
  cursor: pointer;
}

h1 {
  line-height: 1.5;
  font-size: 5rem;
  text-align: center;
}
.container {
  max-width: 950px;
  margin: 120px auto;
}
#recipe-container {
  margin-top: 5%;
  border-style: solid;
  border-width: 0.5px;
  border-color: #deb992;
  min-height: 600px;
}
.underline {
  display: inline;
  position: relative;
  overflow: hidden;
}
.underline:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: -5px;
  background: #deb992;
  height: 2px;
  transition-property: left right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  right: 0;
}
footer {
  margin-top: 3%;
  font-size: 1.5rem;
  text-align: center;
}
.search-field,
.search-button {
  border-radius: 10px;
  border-width: 0.4px;
  font-size: 1.5rem;
  font-weight: bold;
  background: transparent;
  border-color: #1ba098;
  border-style: solid;
  color: #1ba098;
  font-family: "Josefin Slab", serif;
}
.search-field {
  width: 300px;
  margin-right: 2%;
  padding-left: 2%;
}
.search-button {
  padding: 15px 12px;
}
form {
  display: flex;
  justify-content: center;
  margin-top: 30%;
}
.rotator {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 55%;
  height: 200px;
  transform-style: preserve-3d;

  animation: rotate 30s linear infinite;
}
.rotator:hover {
  animation-play-state: paused;
}
@keyframes rotate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}
.items {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;

  -webkit-box-reflect: below 2px
    linear-gradient(transparent, transparent, #0005);
}
.items:hover img {
  transform: scale(1.2);
}
.items img {
  height: 130px;
  width: 130px;
  transition: all 3s ease;
  border-radius: 10px;
  border-style: solid;
  border-color: #deb992;
  border-width: 0.4px;
}
.items:first-child {
  transform: rotateY(calc(40deg * 1)) translateZ(300px);
}
.items:nth-child(2) {
  transform: rotateY(calc(40deg * 2)) translateZ(300px);
}
.items:nth-child(3) {
  transform: rotateY(calc(40deg * 3)) translateZ(300px);
}
.items:nth-child(4) {
  transform: rotateY(calc(40deg * 4)) translateZ(300px);
}
.items:nth-child(5) {
  transform: rotateY(calc(40deg * 5)) translateZ(300px);
}
.items:nth-child(6) {
  transform: rotateY(calc(40deg * 6)) translateZ(300px);
}
.items:nth-child(7) {
  transform: rotateY(calc(40deg * 7)) translateZ(300px);
}
.items:nth-child(8) {
  transform: rotateY(calc(40deg * 8)) translateZ(300px);
}
.items:nth-child(9) {
  transform: rotateY(calc(40deg * 9)) translateZ(300px);
}
