body {
  background-color: #051622;
  font-family: "Josefin Slab", serif;
  color: #deb992;
}
nav {
  border-bottom: 1px solid #deb992;
  background: #051622;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}
a {
  color: #deb992;
  text-decoration: none;
  font-size: 2rem;
}
.search-field,
.search-button,
a {
  cursor: pointer;
}

h1 {
  line-height: 1.5;
  font-size: 4rem;
  text-align: center;
  margin-top: 10%;
}
.container {
  max-width: 90%;
}
#pud-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
#recipe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  border-style: solid;
  border-width: 0.5px;
  border-color: #deb992;
  min-height: 600px;
  min-width: 800px;
  font-size: 1.5rem;
  padding: 20px;
  max-width: 80%;
}
.underline {
  display: inline;
  position: relative;
  overflow: hidden;
}
.underline:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: -5px;
  background: #deb992;
  height: 2px;
  transition-property: left right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  right: 0;
}
footer {
  margin-top: 3%;
  font-size: 1.5rem;
  text-align: center;
}
.search-field,
.search-button,
.button-border {
  border-radius: 10px;
  border-color: #1ba098;
  border-style: solid;
  color: #1ba098;
}

.search-field,
.search-button {
  border-width: 0.4px;
  font-size: 1.5rem;
  font-weight: bold;
  background: transparent;
  font-family: "Josefin Slab", serif;
}
.button-border {
  padding: 4px 5px;
}
.button-border:hover {
  background: rgb(5, 22, 34);
  background: linear-gradient(
    356deg,
    rgba(5, 22, 34, 1) 48%,
    rgba(27, 160, 152, 1) 72%
  );
}
.search-button:hover {
  background: #051622;
}
.search-field {
  width: 300px;
  line-height: 2;
  margin-right: 2%;
  padding-left: 2%;
}
.search-button {
  padding: 10px 12px;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 2%;
}

.image-container {
  position: relative;
  width: 150px;
}

img {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border-style: solid;
  border-color: #deb992;
  border-width: 0.4px;
}

.image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(5, 22, 34, 0.3);
  overflow: hidden;
  width: 150px;
  height: 0;
  transition: 0.5s ease;
  border-radius: 10px;
}

.image-container:hover .image-overlay {
  height: 50px;
}

.image-text {
  color: #1ba098;
  font-size: 1.5rem;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 1px 1px 2px #051622;
}
